.load-enter-active,
.load-leave-active {
  transition: opacity 500ms
}
.load-enter,
.load-leave-to {
  opacity: 0
}

.fadeInRight-enter-active,
.fadeInRight-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(2000px, 0, 0);
  transform: translate3d(2000px, 0, 0)
}

.fadeInRight-enter-to,
.fadeInRight-leave-to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

