.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  width: 84%;
  box-sizing: border-box;
}

@media (max-width: 599px) {
  .container {
    width: calc(100% - 40px);
  }
}

.section-padding {
  padding: 80px 0;
}

@media (max-width: 768px) {
  .section-padding {
    padding: 40px 0;
  }
}

.responsive-flex {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .responsive-flex {
    flex-direction: column;
  }
}
